
.contact {
  display: block;
  text-align: center;
  margin: 2rem 1rem 3rem;
}

.portrait img {
  max-width: 100%;
  height: auto;
}

.bio {

  a {
      color: #fff;
      background-color: #000;
      text-decoration: none;
      padding: 1px 4px;
      border-radius: 2px;
  }
}


/***********MEDIA QUERIES*************/

@media screen and (min-width: 900px) {

  .contact {
    display: inline;
    height: 100%;

    @include clearfix;
  }

  .portrait img {
    float: left;
    width: 50%;
    padding: 2rem 1rem 3rem;
  }

  .bio {
    float: right;
    width: 50%;
    padding: 0 1rem;
    text-align: left;
  }


}
