
.contact {
  display: block;
  text-align: center;
  margin: 2rem 1rem 3rem;
}

.portrait img {
  width: 450px;
  max-width: 100%;
  height: auto;
}

.bio {
  text-align: left;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  a {
      color: #fff;
      background-color: #000;
      text-decoration: none;
      padding: 1px 4px;
      border-radius: 2px;
  }
}


/***********MEDIA QUERIES*************/

@media screen and (min-width: 900px) {

  .wrapper {
    width: 85%;
    max-width: 1000px;
  }

  .contact {
    display: inline;

    @include clearfix;
  }

  .portrait img {
    float: left;
    width: 50%;
    padding: 2rem 1rem 3rem;
  }

  .bio {
    float: right;
    width: 50%;
    padding: 1rem;
    text-align: left;
    min-height: calc(100vh - 175px);
  }


}
