.responsive-image {
  max-width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.cell {
  margin: .5rem;
  width: calc(50% - 1rem);
}

/***********MEDIA QUERIES*************/

@media screen and (min-width: 800px) {
  .cell {
    width: calc(33.3333% - 1rem);
  }
}
