.main-nav {
    display: flex;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    li {
        padding-left: 30px;
    }

    a {
        text-decoration: none;
        color: black;
    }

}
