.site-footer {
  display: block;
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  .footer-icons {
    margin-top: 16px;
    margin-bottom: -3px;
  }

  .credit a {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 1px 4px;
    border-radius: 2px;
  }

}


@media screen and (min-width: 600px) {

  .site-footer {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
  }

}
