/* -------------------------Typography variables------------------------- */
$mainFont:  "Lato", sans-serif;
$headerFont: "Oswald", sans-serif;

/* -------------------------Media Query variables------------------------- */
$mq__s: 600px;
$mq__m: 800px;
$mq__l: 1000px;
$mq__tablet: 550px;
$mq__desktop: 800px;
$mq__menu: $mq__desktop;

$max-width: 1100px;

/* -------------------------Color variables------------------------- */
$color__canvas-light: #fff;
$color__canvas-medium: #c4c2c2;
$color__canvas-dark: #868686;

$color__site: #b4b4b4;
$color__brand: $color__site;
$color__action: #9bfd1c;


$color__copy: rgb(43, 43, 43);
$color__copy-light: rgb(138, 138, 138);