.main-nav {
  display: none;
}

.hamburger {
  padding-bottom: 20px;
  outline: none;
}

@media screen and (min-width: 600px) {

  .hamburger {
    display: none;
  }


  .main-nav {
    display: flex;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    li {
      padding-left: 30px;
    }

    a {
      font-family: $headerFont;
      font-size: 1.5rem;
      text-decoration: none;
      color: #000;
    }
  }

}
