.site-header {
  
  .wrapper {
    border-bottom: 1px solid $color__site;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
