.site-footer {
  
  .wrapper {
    border-top: 1px solid $color__site;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
  }


  .footer-icons {
    margin-top: 16px;
    margin-bottom: -3px;

    img:hover {
      background-color: $color__action;
    }
  }

  .copyright {
    margin-bottom: 0;
  }

  .credit {

    a {
      color: #fff;
      background-color: #000;
      text-decoration: none;
      padding: 1px 4px;
      border-radius: 2px;

      &:hover {
        color: $color__action;
      }
    }

  }
}


@media screen and (min-width: 550px) {

  .site-footer .wrapper {
    flex-direction: row;
    justify-content: space-between;

    .copyright {
      order: -1;
    }
  }

}
